*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 625%;
}

body {
  font-family: 'Microsoft YaHei', '微软雅黑', 'PingFangSC-Regular', sans-serif;
  font-size: 0.16rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
